@font-face {
  font-family: "Title";
  src: url("//db.onlinewebfonts.com/t/e22a8df394ef36d911e0a27d4d9bddff.eot");
  src: url("//db.onlinewebfonts.com/t/e22a8df394ef36d911e0a27d4d9bddff.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e22a8df394ef36d911e0a27d4d9bddff.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e22a8df394ef36d911e0a27d4d9bddff.woff") format("woff"), url("//db.onlinewebfonts.com/t/e22a8df394ef36d911e0a27d4d9bddff.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e22a8df394ef36d911e0a27d4d9bddff.svg#Derivia") format("svg");
}


@font-face {
  font-family: 'Text';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue LT Pro 43 Light Extended'), url('~assets/fonts/HelveticaNeueLTProLtEx.woff') format('woff');
}


@font-face {
  font-family: 'Text--bold';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue LT Pro 63 Medium Extended'), url('~assets/fonts/HelveticaNeueLTProMdEx.woff') format('woff');
  }
